

# Ignorar el entorno virtual
venv/

# Archivos de caché de Pythonn.
__pycache__/
*.pyc

# Migraciones
*/migrations/

# Ignorar mi carpeta de steps
z_steps/


# Ignorar archivos estaticos que se generan solos
static

# Archivos de caché de Pythonn.
README.md
