
{% load static %}

<!-- Otros elementos del header -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

    <ol class="carousel-indicators">
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
    </ol>

    <!-- Contenedor del carousel -->
    <div class="carousel-inner">

        <!-- Active implica que es el por defecto -->
        <div class="carousel-item active">
            <!-- Contenedor Imagen -->
            <img src="{% static 'ecommerce/img/b2.png' %}" alt="Background Image" 
            class="d-block w-50 float-end">

            <!-- Breve Descripcion -->
            <div class="carousel-caption d-none d-md-block" style="text-align: left;">
                <h3 class="display-4 text-uppercase" style="font-size: 2.5rem; font-weight: 900; color: #000; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); margin-left: -7rem; margin-bottom: 1rem; white-space: nowrap;">
                    ¡Descubre Ofertas Increíbles!
                </h3>
                <div style="width: 100%; max-width: 800px; margin: 0 auto; padding: 0 1rem;">
                    <p class="lead" style="font-size: 1.05rem; font-weight: 700; color: #000; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); margin-left: -7rem; margin-bottom: 1rem; white-space: nowrap;">
                        En ANTOJITOS, encontrarás productos de primera calidad a precios increíbles.
                    </p>
                    <p class="lead" style="font-size: 1.05rem; font-weight: 700; color: #000; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); margin-left: -7rem; margin-bottom: 1rem; white-space: nowrap;">
                       ANTOJITOS TE AYUDA A AHORRAR!, VENI Y PROBA NUESTROS PRODUCTOS!
                    </p>
                    <img src="{% static 'ecommerce/img/logo.png' %}" alt="Descripción de la foto" style="width: 180%; max-width: none; height: auto; display: block; margin: 0 auto;">

                </div>
            </div>
        </div>
        <div class="carousel-item">
            <!-- Contenedor Imagen -->
            <img src="{% static 'ecommerce/img/panaderia.png' %}" alt="Background Image" 
            class="d-block w-50 float-end">

            <!-- Breve Descripcion -->
            <div class="carousel-caption d-none d-md-block"style="text-align: left">
                <h3 class="display-4" style="font-size: 2.5rem; font-weight: 900; color: #000; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); margin-left: -7rem; margin-bottom: 1rem; white-space: nowrap;">
                    ¿Que hacemos? y ¿Por Que?
                </h3>
                <p class="lead">
                    <p class="lead" style="font-size: 1.05rem; width: 100%; margin-left: -7.5rem; display: block; white-space: normal; color: #000;font-weight: 700">
                        En Antojitos, ofrecemos alimentos cerca de su fecha de vencimiento a precios reducidos.
                    </p>
                    <p style="font-size: 1.05rem; width: 100%; margin-left: 3rem; display: block; white-space: normal; color: #000;font-weight: 700">
                        Vendemos estos productos a precios bajos para que se consuman antes de su fecha de expiración.
                    </p>
                    <p style="font-size: 1.05rem; width: 100%; margin-left: 14rem; display: block; white-space: normal; color: #000;font-weight: 700">
                        Nuestro objetivo es reducir el desperdicio de alimentos y ayudar a los locales a aprovechar estos productos.
                    </p>
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <!-- Contenedor Imagen -->
            <img src="{% static 'ecommerce/img/empanadas.png' %}" alt="Background Image" 
            class="d-block w-50 float-end">

            <!-- Breve Descripcion -->
            <div class="carousel-caption d-none d-md-block">
                <h3 class="display-4" style="font-size: 2.5rem; font-weight: 900; color: #000; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); margin-left: -7rem; margin-bottom: 1rem; white-space: nowrap;">
                    ¿Que hacemos? y ¿Por Que?
                </h3>
                <p class="lead">
                    <p class="lead" style="font-size: 1.05rem; width: 100%; margin-left: -7.5rem; display: block; white-space: normal; color: #000;font-weight: 700">
                        En Antojitos, ofrecemos alimentos cerca de su fecha de vencimiento a precios reducidos.
                    </p>
                    <p style="font-size: 1.05rem; width: 100%; margin-left: 3rem; display: block; white-space: normal; color: #000;font-weight: 700">
                        Vendemos estos productos a precios bajos para que se consuman antes de su fecha de expiración.
                    </p>
                    <p style="font-size: 1.05rem; width: 100%; margin-left: 14rem; display: block; white-space: normal; color: #000;font-weight: 700">
                        Nuestro objetivo es reducir el desperdicio de alimentos y ayudar a los locales a aprovechar estos productos.
                    </p>
            </div>
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
