


{% extends "ecommerce/base.html" %}

{% load static %}

<!-- For More CSS Modules -->
{% block extra_head %}
    <!-- Cargar CSS o meta tags específicos de la página aquí -->
{% endblock %}


<!-- Contenido específico del HEADER de la página -->
{% block header_content %}
    {% include "ecommerce/carousel_header.html" %}
{% endblock %}


<!-- =================================================================
                            Contenido Cambianteee 
================================================================= -->
{% block content %}
    <!-- Contenido específico de la página -->

    <!-- top cards -->
    <div class="container" id="top-cards">
        <div class="row">
            <div class="col-md-4 py-3 py-md-0">
                <div class="card" style="width: 18rem; background-color: #a9a9a926; height: 100%; display: flex; flex-direction: column; justify-content: space-between;">
                    <div class="d-flex justify-content-center">
                        <img src="./image/topcard1.png" class="card-img-top" alt="..." style="max-width: 100%; height: auto;">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">1lb de Carne de Res</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p><strong><strike>$14.000</strike> ➡︎ $10.000</strong></p>
                        <button>Comprar</button>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 py-3 py-md-0">
                <div class="card" style="width: 18rem; background-color: #a9a9a926; height: 100%; display: flex; flex-direction: column; justify-content: space-between;">
                    <div class="d-flex justify-content-center">
                        <img src="./image/topcard2.png" class="card-img-top" alt="..." style="max-width: 100%; height: auto;">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">1lb de Papas</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p><strong><strike>$4.000</strike> ➡︎ $2.000</strong></p>
                        <button>Comprar</button>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 py-3 py-md-0">
                <div class="card" style="width: 18rem; background-color: #a9a9a926; height: 100%; display: flex; flex-direction: column; justify-content: space-between;">
                    <div class="d-flex justify-content-center">
                        <img src="./image/topcard3.png" class="card-img-top" alt="..." style="max-width: 100%; height: auto;">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Buñuelos u/d</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p><strong><strike>$2.000</strike> ➡︎ $1.000</strong></p>
                        <button>Comprar</button>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- top cards -->


    <!-- banner -->
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), 
    url({% static 'ecommerce/img/banner.jpg' %});">
        <div class="content">
            <h1>Hasta un 50% de descuento</h1>
            <p>texto de ejemplo texto de ejemplo.</p>
            <div id="bannerbtn"><button>¡COMPRA YA!</button></div>
        </div>
    </div>
    <!-- banner -->

    <div class="mt-2 mb-2"></div>

{% endblock %}


<!-- ==================================================================
#                  Mis Scripts personalizados
===================================================================== -->
{% block extra_scripts %}
<!-- 
    Cargas archivos .js propios de cada template/vista
-->
{% endblock %}
