


<!-- CAROUSEL -->
<div class="carousel-producto-contenedor">
    <div class="carousel-producto-titulo">
        
        <div class="carousel-producto-shape right-skew">
            <i class="fas fa-laptop"></i>
            <h2>Proudctos</h2>
        </div>

        <span class="carousel-producto-txt-titulo">Mostrando 4 de 6 elementos</span>
    </div>

    <div class="carousel-producto-slider carousel">

        {% for producto in productos %}
            <!-- Producto Item -->
            <div class="carousel-producto-item">
                <!-- Contenedor imagenes -->
                <div class="carousel-producto-contenedor-imagen">
                    <a href="#" class="carousel-producto-link"></a>
                    <img src="{{producto.image_url}}">
                    <img src="{{producto.image_url}}" class="carousel-producto-img-hover">
                </div>

                <div class="carousel-producto-datos">
                    <div class="carousel-producto-starrr"></div>
                    <small><a href="#">{{producto.category}}</a></small>
                    <h3><a href="#">{{producto.name}}</a></h3>
                    <small>{{producto.description}}</small>
                </div>

                <div class="carousel-producto-precios">
                    <div class="carousel-producto-internet">
                        <small>Oferta</small>
                        <span>$200.00</span>
                    </div>
                    <div>
                        <small>Normal</small>
                        <span>${{producto.price}}</span>
                    </div>
                </div>
                <a href="#" class="carousel-producto-btn-carrito"><i class="fas fa-shopping-basket"></i> Agregar al carrito</a>
            </div>
        {% endfor %}
    </div>
</div>