

{% extends "ecommerce/base.html" %}

{% load static %}

{% block extra_head %}
    <!-- Cargar CSS o meta tags específicos de la página aquí -->
    <link href="{% static 'productos/css/producto.css' %}" rel="stylesheet">
    
{% endblock %}


{% block content %}

    <div class="container-banner-producto">
        
        <h1>Restaurante Comida Cruda</h1> <!--nombre del restaurante-->
        <p>Dirección</p>
        <div class="search-container">
            <input type="text" placeholder="Buscar..." class="search-input">
            <button class="search-button">Buscar</button>
        </div>
    </div>


    <!-- Categorias de alimentos -->
    <nav class="menu-categorias"> 
        <ul>
            {% for categoria in categorias %}
                <li>
                    <a href="#{{categoria.nombre|slugify}}">
                        {{categoria.nombre}}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
    
    <!-- Todas las tarjetas productos -->
    <div class="row">
        

        {% for producto in productos %}
            <div class="col-md-4">
                <figure class="container-product-card">

                    <img src="{{ producto.image.url }}" alt="">

                    <figcaption>
                        <h3> {{ producto.name }} </h3> <!-- Título largo para demostrar el ajuste -->
                        
                        <div class="price">
                            <span id="preciotachado">${{producto.price}}</span>
                            <span class="precio-general">{{producto.price}}</span>
                        </div>
                        <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">
                            
                            <p style="margin: 0;"><strong>Retirar en local</strong></p>
                            
                            <div class="rating">
                                <span>4.2</span>
                                <span class="stars">★</span>
                            </div>
                        </div>
                        <p style="margin: 0;">No Country 14576</p>
                        
                        <button class="boton" onclick="window.location.href='#';">AGREGAR AL CARRITO</button>
                    </figcaption>
                </figure>
            </div>
        {% endfor %}
    </div>

    <!-- Secciones -->
    <main class="row">

        <!-- Recorremos por cada Categoria: "Bebida", "Panificados" etc -->
        {% for categoria, productos in productos_por_categoria.items %}

            <!-- Separador interno -->
            <div class="col-1"></div>

            <!-- Si existe esa Categoria creamos la section -->
            <div class="col-10">
                {% if categoria %} 
                <section id="{{ categoria|slugify }}" class="menu-categoria">
                    
                    <!-- Titulo Categoria -->
                    <h2>{{ categoria }}</h2> 

                    <!-- Tarjetas de la categoria -->
                    
                    <div class="producto-container">
                        <!---->
                    {% for producto in productos %}
                        <div class="col-md-4">
                            <figure class="container-product-card">
                                <img src="{{ producto.image.url }}" alt="">
                                <!-- Contenido de la Modal -->
                                <figcaption>
                                    <h3>{{ producto.name }}</h3>
                                    <div class="price">
                                        <span id="preciotachado">${{ producto.price }}</span>
                                        <span class="precio-general">{{ producto.price }}</span>
                                    </div>

                                    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">
                                        <p style="margin: 0;"><strong>Retirar en local</strong></p>
                                        <div class="rating">
                                            <span>4.2</span>
                                            <span class="stars">★</span>
                                        </div>
                                    </div>
                                    <p style="margin: 0;">No Country 14576</p>

                                    <button class="openboton" onclick="window.location.href='#';">
                                        AGREGAR AL CARRITO
                                    </button>

                                </figcaption>
                            </figure>
                        </div>
                    {% endfor %}
                    </div>
                </section>
                {% endif %}
            </div>
            
            <!-- Separador interno -->
            <div class="col-1"></div>
        {% endfor %}
    </main>
    
    

<!-- Contenido específico de la página -->
{% endblock %}


{% block extra_scripts %}
<!-- 
    Cargas archivos .js propios de cada template/vista
--><script>"{% static 'productos/ventanaEmergente.js'}"</script>
{% endblock %}