

{% extends "ecommerce/base.html" %}

{% load static %}

{% block extra_head %}
    <!-- Cargar CSS o meta tags específicos de la página aquí -->
    <link href="{% static 'productos/css/producto.css' %}" rel="stylesheet">
    
    <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

    <link  rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css">
	

    <style>
        *:focus {
            outline: none;
        }
        .carousel-producto-contenedor {
            max-width: 1200px;
            width: 90%;
            margin: 0 auto;
            position: relative;
        }
        .carousel-producto-titulo {
            border-bottom: 3px solid #9751ff;
        }
        .carousel-producto-titulo .carousel-producto-shape {
            background: #9751ff;
            padding: 10px 20px;
            /* max-width: 400px; */
            max-width: 300px;
            position: relative;
        }
        .carousel-producto-shape.right-skew:before {
            z-index: -1;
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: -20px;
            display: block;
            width: 50px;
            background: #9751ff;
            /* change background color to same as box */
            -webkit-transform: skew(-10deg);
            -ms-transform: skew(-10deg);
            transform: skew(20deg);
        }
        
        .carousel-producto-titulo .carousel-producto-shape h2, .carousel-producto-titulo .carousel-producto-shape i {
            display: inline-block;
            margin: 0;
            color: #fff;
        }
        .carousel-producto-titulo .carousel-producto-shape i {
            margin-right: 10px;
            font-size: 20px;
        }
        .carousel-producto-txt-titulo {
            position: absolute;
            right: 110px;
            top: 15px;
            font-size: 13px;
            color: #605f5f;
            font-weight: 600;
        }
        .carousel-producto-item {
            max-width: 280px;
            vertical-align: top;
            background: #fff;
            padding: 10px 0 20px 0;
            margin-right: 20px;
            border-radius: 10px;
        }
        .carousel-producto-item .carousel-producto-contenedor-imagen {
            min-height: 220px;
            position: relative;
        }
        .carousel-producto-item .carousel-producto-contenedor-imagen img {
            width: 100%;
        }
        .carousel-producto-item .carousel-producto-contenedor-imagen .carousel-producto-link {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 9;
            width: 100%;
            height: 100%;
        }
        .carousel-producto-item .carousel-producto-contenedor-imagen .carousel-producto-img-hover {
            opacity: 0;
            position: absolute;
            left: 0;
            top: 0;
            transition: all ease-in-out 0.2s;
        }
        .carousel-producto-item:hover .carousel-producto-img-hover {
            opacity: 1;
        }
        .carousel-producto-item .carousel-producto-datos {
            border-top: 2px solid #e2e2e2;
            border-bottom: 2px solid #e2e2e2;
            padding: 20px;
        }
        .carousel-producto-item .carousel-producto-datos h3 {
            margin: 10px 0;
        }
        .carousel-producto-item .carousel-producto-datos h3 a {
            text-decoration: none;
            color: #2b2b2b;
            font-size: 14px;
            display: block;
            text-transform: uppercase;
        }
        .carousel-producto-item .carousel-producto-datos h3 a:hover {
            text-decoration: underline;
        }
        .carousel-producto-item .carousel-producto-datos small a {
            text-transform: uppercase;
            font-weight: 600;
            text-decoration: none;
            display: block;
            margin-top: 10px;
            color: #5a5a5a;
            font-size: 11px;
        }
        .carousel-producto-item .carousel-producto-datos small {
            font-size: 14px;
            text-transform: uppercase;
            color: #5a5a5a;
        }
        .carousel-producto-item .carousel-producto-precios {
            padding: 20px;
            display: flex;
        }
        .carousel-producto-item .carousel-producto-precios div {
            flex-grow: 1;
        }
        .carousel-producto-item .carousel-producto-precios div small {
            display: block;
            font-size: 15px;
            margin-bottom: 5px;
            color: #828282;
            font-weight: 600;
        }
        .carousel-producto-item .carousel-producto-precios div.carousel-producto-internet span {
            font-weight: bold;
            font-size: 23px;
            color: #ff0808;
        }
        .carousel-producto-item .carousel-producto-precios div span {
            font-size: 17px;
            font-weight: 600;
        }
        .carousel-producto-item .carousel-producto-btn-carrito {
            display: block;
            text-align: center;
            padding: 15px;
            background: #9751ff;
            width: 80%;
            margin: 0 auto;
            border-radius: 100px;
            color: #fff;
            text-decoration: none;
            display: none;
            transition: all ease-in-out 0.3s;
        }
        .carousel-producto-item .carousel-producto-btn-carrito:hover {
            transform: scale(1.05);
        }
        .carousel-producto-item:hover .carousel-producto-btn-carrito {
            display: block;
        }
        .carousel-producto-starrr {
            display: block;
        }
        .carousel-producto-starrr a {
            font-size: 16px;
            padding: 0 1px;
            cursor: pointer;
            color: #FFD119;
            text-decoration: none;
        }
        .carousel-producto-slider {
            margin-top: 20px;
        }

        .slick-prev {
            font-size: 0;
            position: absolute;
            right: 55px;
            top: -64px;
            width: 30px;
            height: 30px;
            border: 1px solid #e2e2e2;
            border-radius: 6px;
            background-image: url(https://dummyimage.com/20x20/ffffff/474747&text=%3C);
            background-position: center;
            background-repeat: no-repeat;
            background-color: #fff;
            cursor: pointer;
        }
        .slick-next {
            font-size: 0;
            position: absolute;
            right: 18px;
            top: -64px;
            width: 30px;
            height: 30px;
            border: 1px solid #e2e2e2;
            border-radius: 6px;
            background: url(https://dummyimage.com/20x20/ffffff/474747&text=%3E);
            background-position: center;
            background-repeat: no-repeat;
            background-color: #fff;
            cursor: pointer;
        }
        .slick-next:hover, .slick-prev:hover{
            opacity: 0.8;
        }
        
        @media screen and (max-width: 650px){
            .txt-titulo{
                display: none;
            }
            .titulo .shape h2{
                font-size: 20px;
            }
        }
        @media screen and (max-width: 600px){
            .slick-next, .slick-prev{
                display: none !important;
            }
            .titulo .shape{
                padding: 10px 10px;
                max-width: 160px;
            }
            .producto{
            max-width: 100%;
            }
        }

        
    </style>
    

{% endblock %}


{% block content %}

    <div class="container-banner-producto">
        
        <h1>Restaurante Comida Cruda</h1> <!--nombre del restaurante-->
        <p>Dirección</p>
        <div class="product-search-container">
            <input type="text" placeholder="Buscar..." class="product-search-input">
            <button class="product-search-button">Buscar</button>
        </div>
    </div>

    <!-- Categorias de alimentos -->
    <nav class="menu-categorias"> 
        <ul>
            {% for categoria in categorias %}
                <li>
                    <a href="#{{categoria.nombre|slugify}}">
                        {{categoria.nombre}}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>

    <!-- Todas las tarjetas en Carousel productos -->
    {% include 'productos/carousel_productos.html' %}


   <!-- Secciones -->
   <main class="row">

    <!-- Recorremos por cada Categoria: "Bebida", "Panificados" etc -->
    {% for categoria, productos in productos_por_categoria.items %}

        <!-- Separador interno -->
        <div class="col-1"></div>

        <!-- Si existe esa Categoria creamos la section -->
        <div class="col-10">
            {% if categoria %} 
            <section id="{{ categoria|slugify }}" class="menu-categoria">
                
                <!-- Titulo Categoria -->
                <h2>{{ categoria }}</h2> 

                <!-- Tarjetas de la categoria -->
                <div class="producto-container">
                <!---->
                    {% for producto in productos %}       
                        <div class="col-md-4">
                            
                            <!-- Botón para abrir la ventana modal -->
                            <figure class="container-product-card"
                            onclick="openModal({{ producto.id }})">
                                <!-- Imagen del producto -->
                                <img src="{{ producto.image_url }}" alt="">
                            
                                <!-- Contenido de la tarjeta -->
                                <figcaption>
                                    <h3>{{ producto.name }}</h3>
                                    <div class="price">
                                        <span id="preciotachado">${{ producto.price }}</span>
                                        <span class="precio-general">{{ producto.price }}</span>
                                    </div>

                                    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">
                                        <p style="margin: 0;"><strong>Retirar en local</strong></p>
                                        <div class="rating">
                                            <span>4.2</span>
                                            <span class="stars">★</span>
                                        </div>
                                    </div>
                                    <p style="margin: 0;">No Country 14576</p>

                                    <button class="openboton" onclick="window.location.href='#';">
                                        AGREGAR AL CARRITO
                                    </button>

                                </figcaption>
                            </figure>

                            <!-- Modal asociado a cada producto -->
<div class="modal fade" id="modal-{{ producto.id }}" 
tabindex="-1" aria-labelledby="modalLabel-{{ producto.id }}" 
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
        <!-- Botón para cerrar el modal -->
        <div class="modal-header">
            <h5 class="modal-title" id="modalLabel-{{ producto.id }}">{{ producto.name }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <!-- Contenido del modal -->
        <div class="modal-body">
            <img src="{{ producto.image_url }}" alt="{{ producto.name }}" class="img-fluid mb-3">
            <p>{{ producto.description }}</p>
            <p><strong>{{ producto.price }} $</strong> <span class="precio-real">{{ producto.price }} $</span></p>
        </div>

        <!-- Footer del modal -->
        <div class="modal-footer">
            <div class="d-flex align-items-center">
                <!-- Botones de cantidad -->
                <button class="btn btn-outline-secondary quantity-btn" id="decreaseBtn-{{ producto.id }}">-</button>
                <span class="mx-2" id="quantityDisplay-{{ producto.id }}">1</span>
                <button class="btn btn-outline-secondary quantity-btn" id="increaseBtn-{{ producto.id }}">+</button>

                <!-- Botón para añadir al carrito -->
                <button class="btn btn-primary ms-3 add-to-cart-btn">
                    <img src="carrito.png" alt="" class="me-2"> 
                    <span id="priceDisplay-{{ producto.id }}">{{ producto.price }} $</span>
                </button>
            </div>
        </div>
    </div>
</div>
</div>

                            
                            
                        </div>
                    {% endfor %}
                </div>

            </section>
            {% endif %}
        </div>
        
        <!-- Separador interno -->
        <div class="col-1"></div>
    {% endfor %}
</main>
    
    

<!-- Contenido específico de la página -->
{% endblock %}


{% block extra_scripts %}
<!-- 
    Cargas archivos .js propios de cada template/vista
-->
    <script src="{% static 'productos/ventanaEmergente.js' %}"></script>

    <!-- Include slick-carousel JS library -->
    <!-- Include slick-carousel JS library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>

	<!-- Bootstrap JS 
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
	-->
    
    
    <script>
        $(document).ready(function(){
            $('.carousel').slick({
                infinite: true,
                slidesToShow: 4,  // Show 3 products at once
                slidesToScroll: 1,
                arrows: true,  // Show next/prev buttons
                autoplay: true,  // Auto-slide
                autoplaySpeed: 3000,  // Slide every 3 seconds
                responsive: [
                    {
                        breakpoint: 768,  // For mobile devices
                        settings: {
                            slidesToShow: 1  // Show 1 product at once on smaller screens
                        }
                    }
                ]
            });
        });
        </script>   
{% endblock %}