

{% extends "ecommerce/base.html" %}

{% load static %}

{% block extra_head %}
    <!-- Cargar CSS o meta tags específicos de la página aquí -->
    <link href="{% static 'productos/css/tienda_vendedor.css' %}" rel="stylesheet">

    <link href="{% static 'productos/css/carousel_productos.css' %}" rel="stylesheet">
    
    <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

    <link  rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css">
	
{% endblock %}



{% block content %}

    <div class="container-banner-producto" style="background-image: url('{{ store.banner_image_url }}');">
        
        <h1>{{ store.name_store }}</h1> <!--nombre del restaurante-->
        <p>Dirección: {{ store.address }}</p>
        <div class="product-search-container">
            <input type="text" placeholder="Buscar..." class="product-search-input">
            <button class="product-search-button">Buscar</button>
        </div>
    </div>
    
    <div class="container-fluid">


        <!-- Filtros Aplicados -->
        <div class="row mt-2 mb-2">

            <div class="btn-container-side-bar-top">
                <!-- Se utiliza para agregar mas botones en este container -->
                <button class="btn-sidebar-top px-lg-3"
                onclick="window.location.href='{% url 'Tienda_Profile' store.id %}'">
                    <span> Todos Los Productos </span>
                </button>

                {% if query %}
                    <button class="btn-sidebar-top px-lg-3">
                        <span> Resultado de busqueda '{{query}}' </span>
                    </button>
                {% endif %}

                <!-- Se utiliza para agregar mas botones en este container -->
                {% if category %}
                    <button class="btn-sidebar-top px-lg-3"
                    onclick="window.location.href='{% url 'Tienda_Cat' store.id category.id %}'">
                        <span> {{ category.name }} </span>
                    </button>
                {% endif %}

                {% if sub_category %}
                    <button class="btn-sidebar-top px-lg-3"
                    onclick="window.location.href='{% url 'Tienda_Cat' store.id category.id sub_category.id %}'">
                        <span> {{ sub_category.name }} </span>
                    </button>
                {% endif %}
            </div>
        </div>


        <div class="row p-0">
            <!-- Sidebar -->
            <div class="col-2 sidebar">
                <!-- Titulo Side Bar -->
                <h2> Filtros </h2>
                <hr>
                <!-- Search Form Categories -->
                <div class="sidebar-search">
                    <form id="search-form" class="form-group">
                        <!-- Datos de las categorias para pasar y filtrar -->
                        <input type="text" id="search-input" class="form-control"
                            placeholder="Search..." onfocus="this.value=''"
                            data-cat-id="{{category.id}}"
                            data-sub-cat-id="{{sub_category.id}}"
                            data-query-top="{{query}}">
                    </form>
                </div>
                <hr>
                <!-- Categories will be inserted here -->
                <div class="sidebar-category">
                    <!-- Top button on side bar -->
                    <a href="{% url 'Tienda_Profile' store.id %}"><strong>Todas las Categorias</strong></a>

                    <!-- Cat = Category, sub_cats = Sub Category ; Se pasa del context Processor-->
                    {% for cat, sub_cats in cat_n_subcats.items %}
                        
                        <a href="{% url 'Tienda_Cat' store.id cat.id %}">
                            <strong>{{ cat.name }}</strong>
                        </a>
                        
                        {% if sub_cats %}
                        <!-- Submenú with SubCategories -->
                            <ul class="category-list">
                                {% for sub_cat in sub_cats %}
                                    <li>
                                        <a href="{% url 'Tienda_Sub_Cat' store.id cat.id sub_cat.id %}">
                                            &nbsp;&nbsp;&nbsp;&nbsp;{{ sub_cat.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="col-10 p-4">
                <!-- Todas las tarjetas en Carousel productos -->
                {% include 'productos/carousel_productos.html' %}

                <!-- Secciones con productos por SubCategoría -->
                {% include 'productos/section_prod_subcat.html' %}
            </div>
        </div>
    </div>
    
    
   

<!-- FIN Contenido específico de la página -->
{% endblock %}


{% block extra_scripts %}
<!--  Cargas archivos .js propios de cada template/vista -->

    <script src="{% static 'productos/js/ventanaEmergente.js' %}"></script>
    <script src="{% static 'productos/js/add_btn.js' %}"></script>

    <!-- Include slick-carousel JS library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>

    <!-- Esto es del carousel de productos -->
    <script>
        $(document).ready(function(){
            $('.carousel').slick({
                infinite: true,
                slidesToShow: 4,  // Show 3 products at once
                slidesToScroll: 1,
                arrows: true,  // Show next/prev buttons
                autoplay: true,  // Auto-slide
                autoplaySpeed: 3000,  // Slide every 3 seconds
                responsive: [
                    {
                        breakpoint: 768,  // For mobile devices
                        settings: {
                            slidesToShow: 1  // Show 1 product at once on smaller screens
                        }
                    }
                ]
            });
        });


        // Seleccionar todos los elementos que tienen la clase 'precio-oferta'
        document.querySelectorAll('.precio-oferta').forEach(function(element) {
            // Obtener el precio y el descuento desde los atributos de datos
            var price = parseFloat(element.getAttribute('data-price'));
            var discount = parseFloat(element.getAttribute('data-discount'));

            // Calcular el precio con descuento
            var discountedPrice = price - (price * (discount / 100));

            // Mostrar el precio calculado en el elemento correspondiente
            element.innerText = 'Oferta: $' + discountedPrice.toFixed(2);
        });
    </script>   

{% endblock %}