

/* ===============================================================================
                    CAROUSEL TITULO
=============================================================================== */
/* Elimina el contorno del foco en todos los elementos */
*:focus {
    outline: none;
}

/* Contenedor principal del título */
.carousel-producto-titulo {
    border-bottom: 4px solid #9751ff;
    display: flex; /* Usamos flexbox para alinear el contenido en línea */
    justify-content: space-between; /* Espaciamos los elementos a ambos lados */
    align-items: center; /* Alineamos verticalmente al centro */
}

/* Estilos del título con el ícono */
.carousel-producto-shape {
    background: #9751ff;
    padding: 10px 15px;
    max-width: 25%;
    position: relative;
    display: inline-flex; /* Para mantener el ícono y el título en línea */
    align-items: center;
}

/* Efecto de inclinación */
.carousel-producto-shape.right-skew:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: -20px;
    width: 50px;
    background: #9751ff;
    transform: skew(20deg);
    z-index: -1;
}

/* Estilo para el título y el ícono */
.carousel-producto-shape h2, 
.carousel-producto-shape i {
    display: inline-block;
    margin: 0;
    color: #fff;
}

.carousel-producto-shape i {
    margin-right: 10px;
    font-size: 25px;
}

/* Estilo para el texto de cantidad de productos */
.carousel-producto-txt-titulo {
    font-size: 13px;
    color: #605f5f;
    font-weight: 600;
    margin-right: 10%; /* Espacio a la derecha antes de las flechas */
}


/* ===============================================================================
                    CAROUSEL ITEMS
=============================================================================== */
/* Estilos para los ítems individuales del carrusel de productos */
.carousel-producto-item {
    /* max-width: 280px;  Ancho máximo del ítem */
    background: #fff; /* Color de fondo */
    border-radius: 10px; /* Bordes redondeados */
    vertical-align: top; /* Alinea verticalmente los ítems en el contenedor */
}

.carousel-producto-item img {
    height: 150px;
    width: 100%;
    object-fit: cover;
}





/* Estilos para el efecto hover de la imagen */
.carousel-producto-item .carousel-producto-contenedor-imagen .carousel-producto-img-hover {
    opacity: 0; /* Inicialmente oculto */
    position: absolute; /* Posición absoluta para superponer el efecto sobre la imagen */
    left: 0; /* Posición desde el borde izquierdo */
    top: 0; /* Posición desde el borde superior */
    transition: opacity 0.2s ease-in-out; /* Transición suave del efecto */
}

/* Muestra el efecto hover cuando se pasa el cursor sobre el ítem */
.carousel-producto-item:hover .carousel-producto-img-hover {
    opacity: 1; /* Muestra el efecto hover */
}

/* Estilos para la sección de datos dentro del ítem del carrusel */
.carousel-producto-item .carousel-producto-datos {
    border-top: 2px solid #e2e2e2; /* Línea superior de separación */
    border-bottom: 2px solid #e2e2e2; /* Línea inferior de separación */
    padding: 20px; /* Espaciado interno */
}

/* Estilos para el título dentro de los datos del ítem */
.carousel-producto-item .carousel-producto-datos h3 {
    margin: 10px 0; /* Espacio superior e inferior */
}

/* Estilos para el enlace en el título de los datos del ítem */
.carousel-producto-item .carousel-producto-datos h3 a {
    text-decoration: none; /* Elimina el subrayado del enlace */
    color: #2b2b2b; /* Color del texto del enlace */
    font-size: 14px; /* Tamaño de la fuente */
    display: block; /* Hace que el enlace ocupe toda la línea */
    text-transform: uppercase; /* Transforma el texto a mayúsculas */
}

/* Estilos para el enlace en el título de los datos del ítem cuando se pasa el cursor */
.carousel-producto-item .carousel-producto-datos h3 a:hover {
    text-decoration: underline; /* Agrega un subrayado cuando se pasa el cursor */
}

/* Estilos para los enlaces pequeños dentro de los datos del ítem */
.carousel-producto-item .carousel-producto-datos small a {
    text-transform: uppercase; /* Transforma el texto a mayúsculas */
    font-weight: 600; /* Grosor de la fuente */
    text-decoration: none; /* Elimina el subrayado del enlace */
    display: block; /* Hace que el enlace ocupe toda la línea */
    margin-top: 10px; /* Espacio superior */
    color: #5a5a5a; /* Color del texto */
    font-size: 11px; /* Tamaño de la fuente */
}

/* Estilos para el texto pequeño dentro de los datos del ítem */
.carousel-producto-item .carousel-producto-datos small {
    font-size: 14px; /* Tamaño de la fuente */
    text-transform: uppercase; /* Transforma el texto a mayúsculas */
    color: #5a5a5a; /* Color del texto */
}

/* Estilos para la sección de precios dentro del ítem del carrusel */
.carousel-producto-item .carousel-producto-precios {
    padding: 20px; /* Espaciado interno */
    display: flex; /* Usa flexbox para alinear elementos */
}

/* Estilos para los divs dentro de la sección de precios */
.carousel-producto-item .carousel-producto-precios div {
    flex-grow: 1; /* Permite que el div crezca para llenar el espacio disponible */
}

/* Estilos para los pequeños elementos dentro de la sección de precios */
.carousel-producto-item .carousel-producto-precios div small {
    display: block; /* Muestra cada elemento pequeño en una nueva línea */
    font-size: 15px; /* Tamaño de la fuente */
    margin-bottom: 5px; /* Espacio inferior */
    color: #828282; /* Color del texto */
    font-weight: 600; /* Grosor de la fuente */
}

/* Estilos para el precio en internet dentro de la sección de precios */
.carousel-producto-item .carousel-producto-precios div.carousel-producto-internet span {
    font-weight: bold; /* Fuente en negrita */
    font-size: 23px; /* Tamaño de la fuente */
    color: #ff0808; /* Color del texto */
}

/* Estilos para los precios generales dentro de la sección de precios */
.carousel-producto-item .carousel-producto-precios div span {
    font-size: 17px; /* Tamaño de la fuente */
    font-weight: 600; /* Grosor de la fuente */
}

/* Estilos para el botón de carrito dentro del ítem del carrusel */
.carousel-producto-item .carousel-producto-btn-carrito {
    display: none; /* Oculta el botón por defecto */
    text-align: center; /* Centra el texto dentro del botón */
    padding: 15px; /* Espaciado interno */
    background: #9751ff; /* Color de fondo */
    width: 80%; /* Ancho del botón */
    margin: 0 auto; /* Centra el botón horizontalmente */
    border-radius: 100px; /* Bordes completamente redondeados */
    color: #fff; /* Color del texto */
    text-decoration: none; /* Elimina el subrayado del enlace */
    transition: transform 0.3s ease-in-out; /* Transición suave para el efecto hover */
}

/* Muestra el botón de carrito cuando se pasa el cursor sobre el ítem */
.carousel-producto-item:hover .carousel-producto-btn-carrito {
    display: block; /* Muestra el botón */
}

/* Estilos para el botón de carrito cuando se pasa el cursor */
.carousel-producto-item .carousel-producto-btn-carrito:hover {
    transform: scale(1.05); /* Agranda ligeramente el botón */
}

/* Estilos para las estrellas de calificación dentro del ítem del carrusel */
.carousel-producto-starrr {
    display: block; /* Muestra las estrellas como bloques */
}

/* Estilos para los enlaces de estrellas de calificación */
.carousel-producto-starrr a {
    font-size: 16px; /* Tamaño de la fuente */
    padding: 0 1px; /* Espacio a los lados de las estrellas */
    cursor: pointer; /* Cambia el cursor cuando se pasa sobre las estrellas */
    color: #FFD119; /* Color de las estrellas */
    text-decoration: none; /* Elimina el subrayado */
}


/* ===============================================================================
        ORIENTACION FLECHA
=============================================================================== */
/* Estilos para los controles de Slick Carousel */
.slick-prev, .slick-next {
    font-size: 0; /* Elimina el tamaño de la fuente para los controles */
    position: absolute; /* Posición absoluta dentro del contenedor del carrusel */
    width: 30px; /* Ancho del control */
    height: 30px; /* Altura del control */
    border: 1px solid #e2e2e2; /* Borde del control */
    border-radius: 6px; /* Bordes redondeados */
    background-color: #fff; /* Color de fondo */
    cursor: pointer; /* Cambia el cursor a puntero */
}

/* Estilos para el botón de navegación anterior */
.slick-prev {
    right: 55px; /* Desplaza el botón hacia la derecha */
    top: -64px; /* Desplaza el botón hacia arriba */
    background-image: url(https://dummyimage.com/20x20/ffffff/474747&text=%3C); /* Imagen de fondo para el botón de navegación */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* No repite la imagen */
}

/* Estilos para el botón de navegación siguiente */
.slick-next {
    right: 18px; /* Desplaza el botón hacia la derecha */
    top: -64px; /* Desplaza el botón hacia arriba */
    background-image: url(https://dummyimage.com/20x20/ffffff/474747&text=%3E); /* Imagen de fondo para el botón de navegación */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* No repite la imagen */
}

/* Estilos para los controles de Slick Carousel cuando se pasa el cursor */
.slick-prev:hover, .slick-next:hover {
    opacity: 0.8; /* Reduce la opacidad para un efecto de hover */
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 650px) {
    .txt-titulo {
        display: none; /* Oculta el texto del título en pantallas pequeñas */
    }

    .titulo .shape h2 {
        font-size: 20px; /* Reduce el tamaño de la fuente del título */
    }
}

/* Estilos para pantallas muy pequeñas */
@media screen and (max-width: 600px) {
    .slick-next, .slick-prev {
        display: none !important; /* Oculta los controles de navegación del carrusel en pantallas muy pequeñas */
    }

    .titulo .shape {
        padding: 10px; /* Reduce el espaciado interno del título */
        max-width: 160px; /* Ancho máximo del título */
    }

    .producto {
        max-width: 100%; /* Ajusta el ancho máximo del producto al 100% del contenedor */
    }
}
