
.navbar {
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%; /* Asegura que la barra ocupe todo el ancho */
    font-size: 16px;
    font-family: "Poppins", system-ui;
}

.navbar-nav {
    padding-left: 0;
    margin: 0; /* Elimina margen negativo */
    width: 100%; /* Asegura que la lista ocupe todo el ancho del contenedor */
}   

.navbar-nav .nav-item {
    display: flex;
    position: relative;
    padding: 0px;
    margin: 0px;
}

.my-container-center {
    display: flex;
    align-items: center; /* Alinea verticalmente */
    box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
}


/* BARRA DE BUSQUEDA */
.search-container {
    justify-content: right;
    border-radius: 10px;
    width: 100%;
    padding: 5px;

}
.search-input {
    color: #FFFFFF;
    border: 2px #FFFFFF;
    width:300px;
}
/* BOTON DE BUSQUEDA*/
#search-btn{
    margin-left: -15px; /* hace que el boton esté al lado de la barra*/
    margin-right: 5px; /* separa la barra de busqueda de los iconos */
    padding: 0px 20px; /* Relleno interior para el botón */
    background-color:#DB3B3B; /* Color de fondo del botón */
    color: #FFFFFF; /* Color del texto del botón */
    border: 3px solid #FFFFFF; /* Borde del mismo color que el fondo */
    border-radius: 0 10px 10px 0; /* Bordes redondeados en la derecha */
    font-size: 12px; /* Tamaño de fuente del texto */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s; /* Transición suave al pasar el ratón sobre el botón */
}
#search-btn:hover{
    background-color: #FFFFFF;
    color: #fa4d3a;
}
/* CONTAINER UBICACION */
.container-ubicacion {
    width: 200px; /* TAMAÑO A LO ANCHO DEL BOTON UBICACION*/
    height: 100%; /* */
    line-height: 50%; /*SEPARACION ENTRE UBICACION Y DIRECCION*/
}
    .container-ubicacion p{
        margin: 0; 
        padding: 0; 
    }

/* FOOTER */
footer {
    background-color: #DB3B3B;
    padding-bottom:2px;
}
/* LISTAS FOOTER*/
.flex-container {
    display: flex;          /* Utiliza flexbox para alinear los títulos y listas en fila */
    gap: 8%;              /* Espacio entre cada sección */
    flex-wrap: wrap;        /* Permite que las secciones se muevan a la siguiente línea si el espacio es insuficiente */
  }
.section-footer{
    display: flex;
    flex-direction: column; /* Apila los elementos (h2 y ul) verticalmente */
    align-items: flex-start; /* Alinea los elementos al inicio horizontalmente */
  }
    .section-footer ul li a {
        color:black;
        text-decoration: none; /* Elimina el subrayado de los enlaces */
        cursor: pointer;
    }
    .section-footer ul li a:hover {
        color:#FFFFFF;
    }
/* FOOOTER: ICONOS DE REDES SOCIALES*/
.footer-redes{
    background-color: #fa4d3a;
    padding: 20px;
    display: flex;
    justify-content: right;
}
.footer-redes a{
    color:black;
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    cursor: pointer;
    margin:3px;
}
.footer-redes div a:hover {
    color:#FFFFFF;
    margin: 6px;
}
.author {
    align-items: center;
    margin: 10px;
}


/*
                CAROUSEL STUFFF     min-height: 350px; todo
*/
/* Establece que el contenedor padre ocupe el 100% de la altura disponible */
.carousel-inner {
    height: calc(100vh - 170px); /* Resta la altura de otros elementos del header */
    width: 100%;
    background-color: #a9a9a926;
}

/* Cada item del carrusel ocupa el 100% de la altura del contenedor padre  height: 70vh; */
.carousel-item {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: left center !important; /* Asegura que esté alineado a la derecha */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.carousel-item img {
    margin-right: 4%;
    height: 90%;
}

.carousel-caption {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el texto verticalmente */
    align-items: flex-start; /* Alinea el texto a la izquierda */
    width: 20%; /* Ocupa el 50% del ancho del contenedor */
    padding: 0; /* Agrega un poco de relleno para separación */

    top: 10%; /* Mantiene el ajuste de la posición vertical */
    left: 10%; /* Ajusta la distancia desde el lado derecho */
    /* right: auto; /* Asegura que la posición izquierda no interfiera */
    /* transform: none; /* Elimina cualquier transformación previa */
    /* text-align: left; /* Opcional: Alinea el texto hacia la derecha */
    
   /* width: 50%; /* Ocupa el 50% del ancho del contenedor */
}

   


.carousel-caption h3 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center; /* Opcional: Alinea el texto hacia la derecha */
    color: black;
    white-space: normal; /* Permite que el texto se envuelva en líneas múltiples */
}

.carousel-caption p {
    font-size: 1.4rem;
    text-align: center; /* Opcional: Alinea el texto hacia la derecha */
    color: black;
    white-space: normal; /* Permite que el texto se envuelva en líneas múltiples */
}



/* ================== *


.other-links{
    margin-right: 33px;
}
.other-links i{
    color: #1c1c50;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}
#btn-login{
    width: 100px;
    border: 2px solid #1c1c50;
    color: #1c1c50;
    font-weight: bold;
    border-radius: 5px;
    height: 5vh;
    transition: 0.5s ease;
    cursor: pointer;
}
#btn-login a{
    text-decoration: none;
    color: #1c1c50;
    transition: 0.5s ease;
}
#btn-login a:hover{
    background-color: #1c1c50;
    color: white;
}
#btn-login:hover{
    background-color: #1c1c50;
    color: white;
}
#btn-signup{
    width: 100px;
    border: 2px solid #1c1c50;
    color: #1c1c50;
    font-weight: bold;
    border-radius: 5px;
    height: 5vh;
    transition: 0.5s ease;
    cursor: pointer;
}
#btn-signup a{
    text-decoration: none;
    color: #1c1c50;
    transition: 0.5s ease;
}
#btn-signup a:hover{
    background-color: #1c1c50;
    color: white;
}
#btn-signup:hover{
    background-color: #1c1c50;
    color: white;
}
@media screen and (max-width:500px){
    .top-icons{
        margin-left: 30px;
    }
    .top-icons i{
        font-size: 15px;
    }
    .other-links i{
        font-size: 15px;
    }
    #btn-login{
        width: 60px;
        height: 5vh;
    }
    #btn-signup{
        width: 70px;
        height: 5vh;
    }
}
@media screen and (max-width:350px){
    .top-icons{
        margin-left: 10px;
    }
    .top-icons i{
        font-size: 10px;
    }
    .other-links{
        margin-right: 10px;
    }
    .other-links i{
        font-size: 10px;
    }
    #btn-login{
        width: 50px;
        height: 5vh;
        font-size: 13px;
    }
    #btn-signup{
        width: 60px;
        height: 5vh;
        font-size: 13px;
    }
}
@media screen and (max-width:350px){
    .top-icons{
        margin-left: 5px;
    }
    .top-icons i{
        font-size: 12px;
    }
    .other-links{
        margin-right: 10px;
    }
    .other-links i{
        font-size: 12px;
    }
    #btn-login{
        width: 40px;
        height: 5vh;
        font-size: 10px;
    }
    #btn-signup{
        width: 50px;
        height: 5vh;
        font-size: 10px;
    }
}
*/
 /*navbar */
/* BOTONES DE HEADER Y FOOTER*/
#navbar .nav-link{
    color: white;
    height: 100%;
    font-weight: bold;
    padding:5px 20px;
    border-radius: 10px; /* BORDES DE LOS BOTONES DE HEADER*/
    transition:all .5s ease-in-out;
}
  
#navbar .nav-link:hover{
    background:white;
    color:#fa4d3a;
}
.dropdown li a{
    color: white;
}

/* banner */
.banner{
    width: 100%;
    height: 50vh;
    margin-top: 50px;
    
}
.banner .content{
    text-align: center;
    padding-top: 100px;
}
.banner .content h1{
    color: white;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 3px;
}
.banner .content p{
    color: white;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 3px;
}
#bannerbtn button{
    width: 150px;
    height: 38px;
    background: transparent;
    color: white;
    border: 2px solid white;
    transition: 0.5s ease;
    cursor: pointer;
}
#bannerbtn button:hover{
    background-color: #1c1c50;
    border: none;
}
/* banner */

/* navbar */
/* home content *
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    font-family: "Poppins", system-ui;
}
.home .img{
    flex: 1 1 400px;
}
.home .img img{
    width: 100%;
}
.home .content{
    flex: 1 1 400px;
    margin-top: 30px;
}
.content h3{
    margin-left: 70px;
    font-size: 50px;
    text-shadow: 1px 1px 1px black;
    color: #1c1c50;
    font-weight: bold;
}
.content h3 span{
    font-size: 40px;
}
.content p{
    margin-left: 70px;
    color: #1c1c50;
}
.content #shopnow{
    margin-left: 70px;
    width: 200px;
    height: 38px;
    border: 2px solid #1c1c50;
    font-weight: bold;
    transition: 0.5s ease;
    cursor: pointer;
}
.content #shopnow:hover{
    background-color: #1c1c50;
    color: white;
}
@media screen and (max-width:800px){
    .content h3{
        margin-left: 50px;
        font-size: 40px;
    }
    .content p{
        margin-left: 50px;
    }
    .content #shopnow{
        margin-left: 50px;
    }
}
@media screen and (max-width:570px){
    .content h3{
        margin-left: 20px;
    }
    .content p{
        margin-left: 20px;
    }
    .content #shopnow{
        margin-left: 20px;
    }
}


/* home content */
/* home section */

/* top cards *
#top-cards{
    margin-top: 30px;
    font-family: "Poppins", system-ui;
}
#top-cards .card img{
    height: 30vh;
    width: 40vh;
}
#top-cards h5{
    color: #1c1c50;
    font-weight: bold;
}
#top-cards button{
    width: 150px;
    height: 33px;
    font-weight: bold;
    letter-spacing: 3px;
    background: transparent;
    color: #1c1c50;
    border: 2px solid #1c1c50;
    transition: 0.5s ease;
    cursor: pointer;
}
#top-cards button:hover{
    background-color: #1c1c50;
    color: white;
}
/* top cards */

/* banner *
.banner{
    width: 100%;
    height: 50vh;
    margin-top: 50px;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(./image/banner.jpg);
}
.banner .content{
    text-align: center;
    padding-top: 100px;
}
.banner .content h1{
    color: white;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 3px;
}
.banner .content p{
    color: white;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 3px;
}
#bannerbtn button{
    width: 150px;
    height: 38px;
    background: transparent;
    color: white;
    border: 2px solid white;
    transition: 0.5s ease;
    cursor: pointer;
}
#bannerbtn button:hover{
    background-color: #1c1c50;
    border: none;
}
/* banner */
/* banner2 *
.banner2{
    width: 100%;
    height: 50vh;
    margin-top: 50px;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
}
.banner2 .content2{
    text-align: center;
    padding-top: 100px;
}
.banner2 .content2 h1{
    color: white;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 3px;
}
.banner2 .content2 p{
    color: white;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 3px;
}
#bannerbtn2 button{
    width: 150px;
    height: 38px;
    background: transparent;
    color: white;
    border: 2px solid white;
    transition: 0.5s ease;
    cursor: pointer;
}
#bannerbtn2 button:hover{
    background-color: #1c1c50;
    border: none;
}
/* banner2 */

/* product cards *
#product-cards{
    font-family: "Poppins", system-ui;
    margin-top: 100px;
}
#product-cards .card{
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
    height: 28rem;
}
#product-cards h1{
    margin-top: 30px;
    color: #1c1c50;
    text-shadow: 1px 1px 1px black;
}
#product-cards h3{
    letter-spacing: 3px;
    color: #1c1c50;
    text-shadow: 0px 1px 1px black;
    font-weight: bold;
}
#product-cards h5 span{
    float: right;
    color: #1c1c50;
    cursor: pointer;
}
.checked{
    color: rgb(255, 187, 0);
}
#viewmorebtn{
    display: flex;
    justify-content: center;
    margin: auto;
    text-decoration: none;
    margin-top: 30px;
    width: 200px;
    height: 32px;
    color: #1c1c50;
    letter-spacing: 5px;
    font-weight: bold;
    background: transparent;
    border: 2px solid #1c1c50;
    transition: 0.5s ease;
}
#viewmorebtn:hover{
    background-color: #1c1c50;
    color: white;
}
/* product cards *


html{
    scroll-behavior: smooth;
}
.arrow{
    position: fixed;
    background-color: transparent;
    border-radius: 50px;
    height: 50px;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    align-items: center;
    line-height: 50px;
}

/* login *
.login{
    width: 50%;
    margin: 20px;
    font-family: "Poppins", system-ui;
}
#side1{
    background-color: #b9b9b9;
    height: 76vh;
    border-radius: 5px;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
}
#side1 h3{
    color: #1c1c50;
    font-weight: bold;
    text-shadow: 1px 1px 1px #1c1c50c5;
    margin-top: 200px;
    align-items: center;
    text-align: center;
}
#side1 p{
    color: #1c1c50;    
    font-weight: bold;
    align-items: center;
    text-align: center;
}
#btn{
    align-items: center;
    text-align: center;
    border: 2px solid #1c1c50;
    border-radius: 10px;
}
#btn a{
    text-decoration: none;
    color: #1c1c50;
}
#side2{
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
    align-items: center;
    text-align: center;
}
#side2 h3{
    margin-top: 50px;
    color: #1c1c50;
    font-weight: bold;
}
#side2 .inp{
    margin-top: 32px;
}
#side2 input{
    width: 500px;
    margin-top: 20px;
    height: 36px;
    align-items: center;
}
#side2 p{
    margin-top: 20px;
    cursor: pointer;
}
#side2 .icons i{
    margin-left: 10px;
    cursor: pointer;
}
#login{
    margin-top: 10px;
}
#login button{
    width: 200px;
    height: 32px;
    color: white;
    background-color: #1c1c50;
    border: none;
    font-weight: bold;
}
@media screen and (max-width:992px){
    #side2 input{
        width: 300px;
    }
}
@media screen and (max-width:330x){
    #side2 input{
        width: 200px;
    }
}
/* login */

/* about *
#about{
    margin-top: 50px;
}
#about h1{
    text-align: center;    
    font-weight: bold;
    color: #1c1c50;
}
/* about */

/* contact *
#contact{
    margin-top: 50px;
}
#contact h1{
    color: #1c1c50;
    text-shadow: 0px 0px 1px black;
}
#contact .card{
    height: 80px;
    margin-top: 20px;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
}
#contact .card i{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 15px;
    color: #1c1c50;
    font-weight: bold;
    letter-spacing: 3px;
}
#contact .card h6{
    margin-left: 10px;
    margin-top: 10px;
    letter-spacing: 3px;
    font-weight: bold;
    color: #1c1c50;
}#messagebtn button{
    margin-top: 30px;
    width: 200px;
    height: 33px;
    background: transparent;
    border: 2px solid #1c1c50;
    color: #1c1c50;
    font-weight: bold;
    letter-spacing: 3px;
    transition: 0.5s ease;
}
#messagebtn button:hover{
    background-color: #1c1c50;
    color: white;
}
/* contact */