


{% extends "ecommerce/base.html" %}




<!-- For More CSS Modules -->
{% block extra_head %}
    <!-- Cargar CSS o meta tags específicos de la página aquí -->

    <style>

/* ========================================================================
* PROFILE
* ======================================================================== */


.cover {
    position: relative;
    border: 10px solid #FFF;
    padding-bottom: 5%; /* Asegura espacio para el menú en la parte inferior */
}

.banner-profile-cover {
    width: 100%;
    height: 150px; /* Para que el contenedor ajuste su altura según el contenido */
    overflow: hidden; /* Evita que el contenido sobresalga */
}

.banner-profile-cover img {
    width: 100%; /* Ocupa el 100% del ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: cover; /* Asegura que la imagen se ajuste y recorte si es necesario */
}

.cover-menu {
    position: relative; /* Cambiado a relative para situarlo en el flujo del documento */
    width: 100%;
    background: rgba(0, 0, 0, 0.24);
    display: flex; /* Flexbox para alinear horizontalmente */
    box-sizing: border-box;
    z-index: 1; /* Asegura que el menú esté encima del contenido de texto */
    margin-bottom: 20px; /* Espacio entre el menú y el contenido de texto */
}

.cover-menu li {
    flex: 1; /* Asegura que los elementos del menú se distribuyan uniformemente */
    text-align: center; /* Centra el contenido del menú */
    line-height: 40px;
    transition: all 0.3s;
}

.cover-menu li:hover {
    background-color: rgba(0, 0, 0, 0.44);
}

.cover-menu li.active {
    background-color: rgba(0, 0, 0, 0.64);
}

.cover-menu li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    display: flex; /* Alinea el icono y el texto */
    align-items: center; /* Centra verticalmente el contenido del enlace */
    justify-content: center; /* Centra horizontalmente el contenido del enlace */
}

.cover-menu li a i {
    font-size: 18px;
    margin-right: 5px; /* Espacio entre el icono y el texto */
}

.content-text {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-sizing: border-box;
}


/* TARJETA PERFIL Y CONTACTO */
.img-profile {
    width: 70%;
    border-radius: 50%; 
    margin-top: 1%;
}

.profile-panel {
    margin-top: 0px;
}

.card {
    padding: 0px;
    background-color: #fff;
    border-radius: 10px;
}

</style>
{% endblock %}

{% block content %}

<div class="container mt-4 mb-4">
    <div class="row">
        <!-- tarjeta del usuario e INFO CONTACTO
        <div class="col-lg-3 col-md-4 col-sm-12"> -->
        <div class="col-3">

            <!-- Columna perfil + botones edit y logout -->
            <div class="card shadow profile-panel">
                <div class="card-body">
                    <ul class="list-unstyled text-center">
                        <li>
                            <img class="img-fluid img-profile" 
                            src="{{ user.image_url }}" 
                            alt="User Image Profile">
                        </li>
                        <!-- nombre de usuario -->
                        <li>
                            <h4 class="mt-2">
                                {{ user.first_name }} {{user.last_name}}
                            </h4>
                            <p class="text-muted">
                                {{ user.email }}
                            </p>
                        </li>
                        <li>
                            <a href="#" class="btn btn-success w-100">
                                Premium Account
                            </a>
                        </li>
                        <li><br></li>

                        <li>
                            <!-- BOTONES EDITAR Y LOGEARSE -->
                            <div class="btn-group-vertical w-100">
                                <button class="btn btn-outline-secondary d-flex justify-content-between align-items-center"
                                        onclick="window.location.href='Home'">
                                    <span>Edit Account</span>
                                    <i class="fas fa-cog"></i>
                                </button>
                            
                                <button class="btn btn-outline-secondary d-flex justify-content-between align-items-center"
                                        onclick="window.location.href='{% url 'Close_Session' %}'">
                                    <span>Logout</span>
                                    <i class="fas fa-sign-out-alt"></i>
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div><!-- /.card -->
            
            <!-- Tarjeta Info Contacto -->
            <div class="card shadow mt-3">
                <div class="card-header">
                    <h3 class="card-title">Contact</h3>
                    <div class="float-end">
                        <a href="#" class="btn btn-sm btn-success"><i class="fab fa-facebook"></i></a>
                        <a href="#" class="btn btn-sm btn-success"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="btn btn-sm btn-success"><i class="fab fa-google-plus-g"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fas fa-envelope me-2"></i> {{ user.email }}</li>
                        <!-- <li class="list-group-item"><i class="fas fa-globe me-2"></i> www.bootdey.com</li> -->
                        <li class="list-group-item"><i class="fas fa-phone me-2"></i> +54 9 {{ user.cellphone }}</li>
                    </ul>
                </div>
            </div><!-- /.card -->
        </div>

        <!-- CONTENIDO del perfil 
        <div class="col-lg-9 col-md-8 col-sm-12"> -->
        <div class="col-9">
            <div class="cover rounded shadow">
                <!-- BANNER -->
                <div class="banner-profile-cover">
                    <img src="{{user.banner_image_url}}" 
                        class="img-fluid" alt="cover">
                </div>

                <!-- ITEMS BANNER -->
                <ul class="list-unstyled cover-menu">
                    <li class="active">
                        <a href="#" data-content="Aquí están tus favoritos.">
                            <i class="fas fa-clock"></i>Mis Compras
                        </a>
                    </li>
                    <li>
                        <a href="#" data-content="Aquí se muestran tus compras.">
                            <i class="fa fa-heart"></i> Productos Favoritos
                        </a>
                    </li>
                    <li>
                        <a href="#" data-content="Contenido extra aquí.">
                            <i class="fa-solid fa-store"></i> Tienda Favoritas
                        </a>
                    </li>
                </ul>

                <!-- Texto que cambia -->
                <div id="content-text" class="content-text">
                    Aquí está el texto inicial.
                </div>
                
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block extra_scripts %}
    <!-- Cargas archivos .js propios de cada template/vista -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
        // Selecciona todos los enlaces dentro de .cover-menu
        const menuItems = document.querySelectorAll('.cover-menu li a');
        // Selecciona el div donde se mostrará el texto
        const contentText = document.getElementById('content-text');

        // Añade un listener de evento a cada enlace
        menuItems.forEach(item => {
            item.addEventListener('click', function(e) {
                e.preventDefault(); // Evita que el enlace realice su acción predeterminada
                // Quita la clase 'active' de todos los elementos de lista
                menuItems.forEach(i => i.parentElement.classList.remove('active'));
                // Añade la clase 'active' al elemento clicado
                this.parentElement.classList.add('active');
                // Cambia el texto del contenido
                contentText.textContent = this.getAttribute('data-content');
            });
        });
    });
    </script>

{% endblock %}